/* Mobile Respons */
@media (max-width: 767px){
	.biolife-banner__style-15 .text-content, .biolife-banner__style-01 .text-content{
	background-color : rgba(0,0,0,0.5) ;
}
	.biolife-banner__promotion6 .banner-contain .text-content{
	background-color : rgba(0,0,0,0.7) ;
}
	.mob-res-ytb{
		width : 100% ;
	}
	.mobile-revers{
		flex-direction: column-reverse;
		display: flex;
	}
}

.biolife-icon-types{
	margin-left : 0px !important;
	font-size : 70px !important;
	width: 100%;
    text-align: center;
}

.copyright-footer{
	padding : 18px 0px;
	background : #cba478 ;
	text-align:  center;
}

.wrap-custom-menu.vertical-menu-2 ul li a{
	color : white !important;
}

.cp-title{
	color : white ;
}

.header-top .right .nice-select{
	border : none ;
}

.des-logo{
	height : 48.9px;
}

.bio-2-des{
	vertical-align: -webkit-baseline-middle;
}

.logo-center{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 767px){
.logo-center{
	position: initial;
    top: 0;
    left: 0;
	transform: inherit;}
}

.footer-title-color {
	color : #cba478 !important ;
}


.srv-details{
	display: inline-block;
    font-size: 14px;
    color: #222222;
    text-align: center;
    margin: 9px 0 0;
    width: 100%;
    line-height: 1.4;
    font-weight: 500;
	padding : 0% 7%;
}

.biolife-banner__promotion2 .media{
	background-image: url(../images/product_bannner.png);
	background-position: bottom center;
}

.cart-b-m{
	margin-bottom : 15% ;
}

.fresh-content{
	margin-top : 5% ;
}

.biolife-banner__promotion6 .media .img-moving.position-1{
	margin-right : -12% !important;
}

.xs-margin-bottom-90px {
	margin-bottom : 90px ;
}

.biolife-banner__style-01{
	    background-image: url(../images/custom/caroma-banner-style.jpg);
}

.section-title {
    font-size: 18px;
    line-height: 1;
    color: #222222;
    font-weight: 700;
    display: block;
    margin: 0 0 24px;
}

.footer-midle-pstx{
	border-top : none ;
}

.color-whites{
	color : white !important;
}

.hero-section{
	margin-top : 0px ;
	position: initial;
	display: flex;
    align-items: center;
    justify-content: center;
}

.hero-background{
	height: 400px;
    background-position: bottom;
}

.hero-section .page-title{
	font-size: 75px;
    color: black ;
	top: inherit;
	line-height: 8vh;
	
}

.welcome-us-block .text-info{
	margin : 50px 0px 0px;
}

.at-text2{
	padding : 0px 15px ;
}

.welcome-us-block{
	background-image : none ;
}

.ytbrs{
	margin : 80px 0px 0px ;
}

.content-margin{
	margin-top : 3% ;
}

.text-infos{
	font-size: 15px;
    line-height: 24px;
    color: #555555;
}

.label-width{
	width : 100% ;
}

.no-padding-left {
	padding-left : 0px ;
	padding-top : 2%;
	padding-bottom : 2% ;
}

.input-width{
	width : 100%;
}

.custombtn{
	background-color: #005f2a;
	font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 9999px;
    text-align: center;
    font-weight: 700;
    padding: 13px 25px;
	margin-top : 2% ;
}

.custombtn:hover {
    background-color: #444444;
	color : white ;
}

.title-product-content{
	color: #222222; 
	font-weight : bold
}

.wide-half{
    width: calc( 50% - 15px );
}

.reg-button{
	margin-bottom : 12% !important;
	text-align: center;
}
.reg-but{
	min-width : 200px !important;
}

.reg-style{
	margin-top : 5% ;
}

.flag-imgs{
	width : 24px !important ;
	height : 16px !important ; 
}

#name_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#distributor_code_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#city_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#state_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#email_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#password_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#retype_password_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#phone_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#address_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

#zip_error_message{
	color: red;
    font-size: 14px;
    font-weight: 700;
}

.reg-height{
	height : 110px;
}
