/**
 * @file icon.css
 */


 @font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?xxerwu');
  src:  url('icomoon.eot?xxerwu#iefix') format('embedded-opentype'),
    url('icomoon.ttf?xxerwu') format('truetype'),
    url('icomoon.woff?xxerwu') format('woff'),
    url('icomoon.svg?xxerwu#icomoon') format('svg');
}


.icon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-chocolate:before {
  content: "\e941";
}
.icon-coffee:before {
  content: "\e947";
}
.icon-null:before {
  content: "\e902";
}
.icon-null1:before {
  content: "\e903";
}
.icon-space:before {
  content: "\20";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-arteries-about:before {
  content: "\e905";
}
.icon-capacity-about:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e907";
}
.icon-cart-mini:before {
  content: "\e908";
}
.icon-close-menu:before {
  content: "\e909";
}
.icon-comment:before {
  content: "\e90a";
}
.icon-clock:before {
  content: "\e90b";
}
.icon-location:before {
  content: "\e90c";
}
.icon-letter:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-fresh-drink:before {
  content: "\e90f";
}
.icon-green-safety:before {
  content: "\e910";
}
.icon-grid:before {
  content: "\e911";
}
.icon-healthy-about:before {
  content: "\e912";
}
.icon-heart-bold:before {
  content: "\e913";
}
.icon-left-arrow:before {
  content: "\e914";
}
.icon-like:before {
  content: "\e915";
}
.icon-list:before {
  content: "\e916";
}
.icon-login:before {
  content: "\e917";
}
.icon-location2:before {
  content: "\e918";
}
.icon-fruits:before {
  content: "\e919";
}
.icon-broccoli-1:before {
  content: "\e91a";
}
.icon-beef:before {
  content: "\e91b";
}
.icon-fish:before {
  content: "\e91c";
}
.icon-fast-food:before {
  content: "\e91d";
}
.icon-soy:before {
  content: "\e934";
}
.icon-coconut:before {
  content: "\e933";
}
.icon-honey:before {
  content: "\e91e";
}
.icon-grape:before {
  content: "\e91f";
}
.icon-onions:before {
  content: "\e920";
}
.icon-avocado:before {
  content: "\e921";
}
.icon-contain:before {
  content: "\e922";
}
.icon-fresh-juice:before {
  content: "\e923";
}
.icon-newsletter:before {
  content: "\e924";
}
.icon-organic:before {
  content: "\e925";
}
.icon-beer:before {
  content: "\e926";
}
.icon-car:before {
  content: "\e927";
}
.icon-schedule:before {
  content: "\e928";
}
.icon-coversation:before {
  content: "\e929";
}
.icon-heart-1:before {
  content: "\e92a";
}
.icon-title:before {
  content: "\e92b";
}
.icon-head-phone:before {
  content: "\e92c";
}
.icon-report:before {
  content: "\e92d";
}
.icon-search:before {
  content: "\e92e";
}
.icon-suporter:before {
  content: "\e92f";
}
.icon-grape2:before {
  content: "\e930";
}
.icon-broccoli:before {
  content: "\e931";
}
.icon-lemon:before {
  content: "\e932";
}
.icon-orange:before {
  content: "\e935";
}
.icon-blueberry:before {
  content: "\e936";
}
.icon-matcha:before {
  content: "\e937";
}
.icon-heathly:before {
  content: "\e938";
}
.icon-shield:before {
  content: "\e939";
}
.icon-leaf2:before {
  content: "\e93a";
}
.icon-ginger:before {
  content: "\e93b";
}



